version: 2
jobs:
  build:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - run: echo $HELLO
workflows:
  version: 2
  use-context:
    jobs:
      - build:
          context: hello_world
  without-context:
    jobs:
      - build
# comment by Aaron
